#shareQuestion, #login{
    margin-top: 25px;
}

#shareQuestion input{
    margin-bottom: 10px;
}

#shareQuestion select{
    margin-top: 10px;
}

#shareQuestion button{
    margin-right: 5px;
}

#signUp{
    margin-top: 10px;
}

#signUpButton{
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .field-label-responsive {
        padding-top: .5rem;
        text-align: right;
    }
}

.card_edit{
    margin-bottom: 1rem;
}

.module {
    width: 20rem;
    overflow: hidden;
}
.module p {
    margin: 0;
}

.line-clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
